<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Motorgas - Company</title>
    <link rel="icon" type="image/x-icon" href="images/images/mtg.png" /> <!--imagenparaicono-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="images/images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <div class="header_top">
            
            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index"><img src="images/images/logona.png" height="60" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:admin@motorgasperu.com"><img src="images/images/mail_icon.png"
                                        alt="#" />admin@motorgasperu.com</a></li>
                            <li><a href="https://wa.me/931719175"><img src="images/images/phone_icon.png"
                                        alt="#" />(+51)931719175</a></li>
                            <li><a class="join_bt" href="/login">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg"> 
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="index">Inicio</a></li>
                        <li><a class="nav-link" href="about">Nosotros</a></li>
                        <li><a class="nav-link" href="services">Servicios</a></li>
                        <li><a class="nav-link" href="contact">Contacto</a></li>
                    </ul>
                </div>
                     </div>
                 </nav>
                 <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="images/images/search_icon.png" alt="#" />
                    </a>
                </div> 
                </div>
            </div>
          </div>
        </div>
        
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Nosotros</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Nosotros -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/images/1.png" height="600" width="600" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Nosotros</span> Motorgas</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Momentos Crediticios es una institución peruana, regulada por la Superintendencia de Banca,
                            Seguros y AFP, que inició sus operaciones en noviembre del 2023 bajo el nombre de Financiera
                            Momentos Crediticios con una visión y misión. Con la finalidad de ayudar al crecimiento de
                            la economía del Perú.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Nuestra</span> Filosofía</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Creemos en el país y en su gente, nos abocamos a apoyar a nuestros clientes con la finalidad
                            de lograr su misión de vida; contribuyendo al progreso de grandes segmentos de la población
                            con un equipo humano especializado comprometido, creativo, íntegro y entusiasta.</p>
                    </div>
                    <!--
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">About more ></a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <!-- Mision - Vision -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Motorgas</span> Misión</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Asegurar la calidad, seguridad y eficiencia de los sistemas de conversión y
                            anuales. Trabajamos para garantizar que los vehículos a gas cumplan con las normas y
                            regulaciones aplicables, y brindamos un servicio eficiente y de calidad a nuestros
                            clientes.</p>
                    </div>
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Motorgas</span> Visión</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>Nuestra visión es ser reconocidos como líderes en la certificación de sistemas de conversión
                            y uso de gas natural vehicular a nivel nacional.
                            Ser líder a nivel nacional en el control de calidad y en las certificaciones vehículos que
                            funcionan con el sistema de combustión a GNV y GLP
                        </p>
                    </div>
                    <!--
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Read More ></a>
                    </div>
                    -->
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="images/images/2.jpg" height="500" width="500" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="images/images/logo.png" height="80" alt="#" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                    <li><a href="index">> Inicio</a></li>
                                    <li><a href="about">> Nosotros</a></li>
                                    <li><a href="services">> Servicios</a></li>
                                    <li><a href="contact">> Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Boletin informativo</h3>
                                    <p>Es muy importante que el cliente siga el proceso de coaching.</p>
                                    <div class="newsletter_form">
                                        <form action="index">
                                            <input type="email" placeholder="Correo..." name="#" required="">
                                            <button>Enviar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Contacto </h3>
                                    <ul class="full">
                                        <li><img src="images/images/i5.png"><span>Urb. Lucyana jr. j.s.
                                                Chocano<br>Frente al parque Feliciana</span></li>
                                        <li><a href="mailto:admin@motorgasperu.com"><img src="images/images//i6.png" 
                                            alt="#" />admin@motorgasperu.com</a></li>
                                        <li><a href="https://wa.me/931719175"><img src="images/images/i7.png"
                                                    alt="#" />931719175</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Motorgas Company Privacy Policy - Derechos reservados Powered by GHFDEV ®</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Icono para subir a inicio -->
    <a href="#" id="scroll-to-top" class="hvr-radial-out">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Icono flotante de WhatsApp -->
    <a class="whatsapp-float" href="https://wa.me/931719175" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-whatsapp" aria-hidden="true"></i> <!-- Icono de WhatsApp de Font Awesome -->
    </a>

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/custom.js"></script>
	
</body>

</html>